//font style
$default-font-size: 1.8rem;
$header-font-size: 3.5rem;

//color

$primary-color:#5f3dc4;
$primary-color-light:#f3d9fa;

$bg-light-primary:#f1f3f5;
$bg-light-secondary:#f8f9fa;
$font-light:#f8f9fa;

$bg-black: #212529;
$bg-black-1: #343a40;

//padding

$padding-input: .75rem 1.5rem;
$padding-small: 3rem;
$padding-medium: 5rem;
$padding-big: 8rem;
$padding-huge: 10rem;

//border-radius
$border-radius: 4px;
$card-border-radius:8px;


$shadow-1: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.07);
$shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
0 2px 4px -1px rgba(0, 0, 0, 0.06);

html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-size: $default-font-size;
    background-color: $bg-light-primary;
    position: relative;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    margin: 0 2rem;
    overflow-y: hidden;

}
.card{
    // position:absolute;
    // top: 40%;
    // left:50%;
    // transform: translate(-50%, -70%);
    margin: $padding-big auto;
    max-width: 600px;
    min-width: 400px;
    padding: $padding-small $padding-medium;
    background-color: $bg-light-secondary;
    border-radius: $card-border-radius;
    box-shadow: $shadow-1;

    &-heading-primary{
        text-transform: capitalize;
        font-size: $header-font-size;
        color: $primary-color;
        text-align: center;
        letter-spacing: 3px;
        font-family: 'Poppins', sans-serif;
    }
    &-task-form{
        display: flex;
    }
    &-task-container{
        height: 400px;
        overflow-y: scroll;
    }
}
.form{

    margin-bottom: $padding-small;
    &-task-input{
        padding: $padding-input;
        width: 100%;
        border: 1px solid #ced4da;
        background: #e9ecef;
        border-radius: 0;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }
    &-btn{
        width: 150px;
        border-radius: 0;
        border-color: transparent;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        background-color: $primary-color;
        color: $font-light;
    }
}
.form-alert, .loading-text{
    text-align: center;
}
.loading-text{
    padding: .25rem;
}
.text-success{
    color: green;
}
.form-control{
    display: grid;
    grid-template-columns: 125px 1fr;
    margin-bottom: 1rem;
    justify-items: start;
    align-items: center;
    label{
        width: 150px;
        color: $bg-black-1;
    }
    &-edit-id{

    }
    &-edit-name{
        width: 100%;
        padding: $padding-input;
        
    }
    &-edit-completed{

    }
}
.edit-btn{
    display: block;
    text-transform: capitalize;
    color: $font-light;
    font-size: $default-font-size;
    background-color: $primary-color;
    border-radius: $border-radius;
    border: 1px solid transparent;
    margin-top: 2rem;
    width: 100%;
    padding: $padding-input;
}
.back-link{
    color: $bg-light-primary;
    text-transform: capitalize;
    background-color: $bg-black;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: $padding-big;
    width: 200px;
    margin-left:  auto;
    margin-right: auto;
    padding: 1rem 1.5rem;
    border-radius: $border-radius;
}
.tasks{
    font-weight: 300;
    color: $bg-black-1;
    &-single{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2rem;
        margin-bottom: $padding-small;
        background-color: $bg-light-primary;
        box-shadow: $shadow-2;
        border-radius: $border-radius;
    }
}
h5{
    span{
        margin-right: .5rem;
    }
}
div::-webkit-scrollbar {
    width: 0.3em;
    background-color: #F5F5F5;
  }
  
  div::-webkit-scrollbar-thumb {
    height: .2rem;
    background-color: $primary-color;
  }
  
  div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.02);
    border-radius: 10px;
    background-color: #F5F5F5;
  }