//font style
$default-font-size: 1.8rem;
$header-font-size: 3.5rem;

//color

$primary-color:#5f3dc4;
$primary-color-light:#f3d9fa;

$bg-black-primary:#f1f3f5;
$bg-black-secondary:#f8f9fa;
$font-light:#f8f9fa;

//padding

$padding-small: 3rem;
$padding-medium: 5rem;
$padding-big: 8rem;

//border-radius
$border-radius: 4px;
$card-border-radius:8px;

$shadow-1: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.07);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    background-color: $bg-black-primary;
    position: relative;

}
.card{
    position:absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%, -70%);
    max-width: 1000px;
    min-width: 600px;
    padding: $padding-small $padding-medium;
    background-color: $bg-black-secondary;
    border-radius: $card-border-radius;
    box-shadow: $shadow-1;

    &-heading-primary{
        font-size: $header-font-size;
        color: $primary-color;
        text-align: center;
        padding-bottom: $padding-small;
    }
    &-task-form{
        display: flex;
    }
    &-task-container{
        visibility: hidden;
        font-size: $default-font-size;
    }
}
.form{
    font-size: $default-font-size;
    margin-bottom: $padding-small;
    &-task-input{
        padding: .75rem 1.5rem;
        width: 100%;
        border: 1px solid #ced4da;
        background: #e9ecef;
        border-radius: 0;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }
    &-btn{
        width: 150px;
        border-radius: 0;
        border-color: transparent;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        background-color: $primary-color;
        color: $font-light;
    }
}